---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Hello!"
	pubDate={new Date('August 08 2021')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		Chiikawa is life
	</p>

</Layout>
